@import "../../../api-pokemon/mi-proyecto/sass/variables.scss";
.pokemon-card {
  border: 1px solid #c7b019;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  max-width: 300px;
  box-shadow: 4px 4px 22px #fccc04;
  transition: transform 0.3s;
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  position: relative;
}

.pokemon-card:hover {
  transform: scale(1.05);
}
.pokemon-card img {
  width: 150px;
  height: 150px;
}

.pokemon-card h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
  text-transform: capitalize;
}

.pokemon-card p {
  margin: 5px 0;
}

.pokemon-id {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: #889fa6;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
}

.pokemon-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-input {
  margin: 0 10px;
  padding: 10px;
  border: 1px solid #427873;
  border-radius: 5px;
  font-size: 1em;
  width: 200px;
  transition: box-shadow 0.3s;
  border-radius: 18px;
  &:hover{
    background-color: transparent;
    color: white;
    border-top: 0px solid #427873;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 2px 20px 10px #9ae0ba;
}
}

.pagination {
  justify-content:center;
  margin-top: 25px;
}

.pagination button {
  margin: 10px;
  padding: 6px 12px;
  border: none;
  background-color: #375654;
  color: white;
  border-radius: 90px;
  cursor: pointer;
}

.pagination button:hover {
  background-color: #427873;
}